
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: lighter;
  font-display: auto;
  src: font-url("proximanova-light.otf") format('opentype')
  
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: bold;
  font-display: auto;
  src: font-url("proximanova-bold.otf") format('opentype')
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Arimo", "Helvetica Neue", Arial, sans-serif;
  background: #fff;
  
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 14px;
  line-height: 1;
  height: 100vh;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  background: rgb(15,37,87);
  background: linear-gradient(225deg, rgba(15,37,87,1) 0%, rgba(55,120,194,1) 50%, rgba(75,159,225,1) 100%);
  
}

a.link {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Proxima Nova";
  font-weight: lighter;
}

img.icons{
 max-height: 25px;
 
}
div.icons{
  min-height: 50px;
  min-width: 50px;
  background: url(asset_path("icons/circle.svg")) no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  
}
li.menu{
  min-height: 50px;
  padding: 2px;
}

h1{
  font-family: "Proxima Nova";
  font-weight: bold;
  font-size: 20px;
}


h1, h2, h3, label, p{
  color: whitesmoke;
}
div.nav-div{
position: absolute;
top: 0;
left: 0;
}

html{
  overflow: hidden;
}

div.content-div
{
  height: max-content;
  background-color: white;
  position: absolute;
  height: 100%;
  z-index: 1;
  transform: translateX(0%);
  transition: 0.4s;
  will-change: transform;
  
}

div.content-div.translate-page{
  transform:translate(80%, 20%);
  height: 70%;
  
}
div.content-div > div {
  background: rgb(44,104,172);
  background: linear-gradient(0deg, rgba(44,104,172,1) 0%, rgba(55,120,194,1) 100%);
  position: relative;
  padding: 1rem 0.5rem 1rem 0.5rem;
}
div.content-div article {
  background: white;
  border-top: 1px solid #DBDBDE;
  border-bottom: 1px solid #DBDBDE;
}
div.content-div article > div{
  background: inherit;
}

div.content-div p{
  margin-bottom: 0;
}

div.content-div {
  background: #ececee;
  padding: 0;
}
h2.page-title{
  height: 2rem;
  text-align: center;
  margin: 0em;
  position: absolute;
  transform: translateX(-50%);
  left:50%;
  text-transform: uppercase;
  font-size: 1.65rem;
}

.content-div label, p{
  color: #b1b2b8;
}

.content-div a{
  color: #707070;
  height: 100%;
  width: 100%;
}
div.menu{
  height: 45px;
  width: 45px;
  
}
.menu a span{
  width: 25px;
    height: 2px;
    margin: 3.5px 0;
  background-color: whitesmoke;
}
#session_name, #user_name{
  height: 100%;
  width: 100%;
  border: none;
}
.form-field{
  border-bottom: 1px solid #e2e2e2;
  padding: 1rem 0;
}

.content-div .form-field:nth-child(2){
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
#session_name::placeholder, #user_name::placeholder{
  color: #4b4b4b;
  font: 1.5rem "Proxima Nova";
  line-height: 1.5rem;
  

vertical-align: middle;
 
}
img.avatar-icon{
  height: 64px;
}
.picture{
  position: relative;
  width: 100%;
  height: 100%;
  
  
  input[type=file]{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.picture p{
  font-size: 2rem;
  display: block;
  max-height: 4rem;
}

.submit{
  height: 80%;
  width: 80%;
  color: whitesmoke;
  background: #5fb523;
  border: 1px solid whitesmoke;
  border-radius: 2px;
  text-transform: uppercase;
}
div.form-button{
  width: 100%;
  height: 4rem;
  background: #5fb523;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.user-avatar{
  height: fit-content;
  width: 80%;
  padding: 1rem 1rem 0 1rem;
}
.user-avatar h3{
  color: whitesmoke;
  font: 1.7rem "Proxima Nova";
  padding: 1rem;
}
.profile-image{
  max-height: 200px;
}