
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: lighter;
  font-display: auto;
  src: font-url("proximanova-light.otf") format('opentype')
  
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: bold;
  font-display: auto;
  src: font-url("proximanova-bold.otf") format('opentype')
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Arimo", "Helvetica Neue", Arial, sans-serif;
  background: #fff;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 30px;
  line-height: 1;
  height: 100px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  background: rgb(15,37,87);
  background: linear-gradient(225deg, rgba(15,37,87,1) 0%, rgba(55,120,194,1) 50%, rgba(75,159,225,1) 100%);
  
}

a.link {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Proxima Nova";
  font-weight: lighter;
  font-size: 50px;
}

img.icons{
 height: 50px;
 width: 50px;
 
}
div.icons{
  height: 100px;
  width: 100px;
  background: url(asset_path("icons/circle.svg")) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
li.menu{
  height: 140px;
  padding: 20px;
}

h1{
  font-family: "Proxima Nova";
  font-weight: bold;
  font-size: 30px;
}


h1, h2, h3, label, p{
  color: whitesmoke;
}
div.nav-div{

}
div.content-div
{

}