@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: lighter;
  src: font-url("proximanova-light.otf") format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: bold;
  src: font-url("proximanova-bold.otf") format('opentype');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Arimo", "Helvetica Neue", Arial, sans-serif;
  background: #fff;
  background: rgb(15, 37, 87);
  background: linear-gradient(225deg, rgba(15, 37, 87, 1) 0%, rgba(55, 120, 194, 1) 50%, rgba(75, 159, 225, 1) 100%);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 14px;
  line-height: 1;
  height: 100vh;
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

a.link {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Proxima Nova", sans-serif;
  font-weight: lighter;
}

img.icons {
  max-height: 25px;
}

div.icons {
  min-height: 50px;
  min-width: 50px;
  background: url(asset_path("icons/circle.svg")) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.menu {
  min-height: 50px;
  padding: 2px;
}

h1 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

h1,
h2,
h3,
label,
p {
  color: whitesmoke;
}

div.nav-div {
  position: absolute;
  top: 0;
  left: 0;
}

p {
  color: #b1b2b8;
}

.time p {
  display: block;
}

div.content-div {
  position: absolute;
  height: 100%;
  z-index: 1;
  transform: translateX(0%);
  transition: 0.4s;
  will-change: transform;
  background-color: #ececee;
  padding: 0;
}

div.content-div.translate-page {
  transform: translate(80%, 20%);
  height: 70%;
}

.select-items div {
  cursor: pointer;
  color: #b1b2b8;
  font: 1.5rem "Proxima Nova", sans-serif;
  line-height: 1.75rem;
  padding: 1rem 0 1rem 1rem !important;
  height: 4rem !important;
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
}

div.content-div > div {
  background: rgb(44, 104, 172);
  background: linear-gradient(0deg, rgba(44, 104, 172, 1) 0%, rgba(55, 120, 194, 1) 100%);
  position: relative;
  padding: 1rem 0.5rem 1rem 0.5rem;
}

div.content-div article {
  background: white;
  border-top: 1px solid #dbdbde;
  border-bottom: 1px solid #dbdbde;
}

div.content-div article > div {
  background: inherit;
}

.picture p {
  font-size: 2rem;
  display: block;
  max-height: 4rem;
}

div.content-div p {
  margin-bottom: 0;
}

h2.page-title {
  height: 2rem;
  text-align: center;
  margin: 0;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  text-transform: uppercase;
  font-size: 1.65rem;
}

h3.group-name {
  color: #b1b2b8;
}

.content-div label {
  color: #b1b2b8;
}

.content-div a {
  color: #707070;
  height: 100%;
  width: 100%;
}

div.menu {
  height: 45px;
  width: 45px;
}

.menu a span {
  width: 25px;
  height: 2px;
  margin: 3.5px 0;
  background-color: whitesmoke;
}

#session_name,
#user_name,
#group_name,
#time_spent_name,
#time_spent_amount {
  height: 100%;
  width: 100%;
  border: none;
}

.form-field {
  border-bottom: 1px solid #e2e2e2;
  padding: 1rem 0;
}

.form-field:nth-child(2) {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

#session_name::placeholder,
#user_name::placeholder,
#group_name::placeholder,
#time_spent_name::placeholder,
#time_spent_amount::placeholder {
  color: #4b4b4b;
  font: 1.5rem "Proxima Nova", sans-serif;
  line-height: 1.5rem;
  vertical-align: middle;
}

.picture {
  position: relative;
  width: 100%;
  height: 100%;

  input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.submit {
  height: 80%;
  width: 80%;
  color: whitesmoke;
  background: #5fb523;
  border: 1px solid whitesmoke;
  border-radius: 2px;
  text-transform: uppercase;
}

div.form-button {
  width: 100%;
  height: 4rem;
  background: #5fb523;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.user-avatar {
  height: fit-content;
  width: 80%;
  padding: 1rem 1rem 0 1rem;
}

.user-avatar h3 {
  color: whitesmoke;
  font: 1.7rem "Proxima Nova", sans-serif;
  padding: 1rem;
}

.profile-image {
  max-height: 200px;
}

img.avatar-icon {
  height: 64px;
}

.time h3 {
  font-size: 2rem;
  color: #b1b2b8;
}

div.profile h3,
div.time-spend h3 {
  font: 1.5rem "Proxima Nova", sans-serif;
  margin: 0;
  color: #b1b2b8;
}

div.profile p {
  color: #b1b2b8;
  font-size: 1rem;
}

div.group,
div.time {
  padding: 2rem 0 2rem 1rem;
  border-bottom: 1px solid #e2e2e2;
}

.group:nth-child(2),
.time:nth-child(1) {
  padding-top: 2rem;
  margin-top: 1rem;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

div.group:last-child,
div.time:last-child {
  border-bottom: none;
}

div.group .profile-image,
div.time .profile-image {
  max-height: 64px;
}

h4.total,
p.total {
  color: #b1b2b8;
}

.time a {
  width: min-content;
}

input[type=number],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  margin: 0;
}

#time_spent_amount {
  -moz-appearance: textfield !important;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: "Proxima Nova", sans-serif;
  // padding: 0 !important;
  background: none !important;
  border: none !important;
  padding: 1rem 0 !important;
  height: 4rem !important;
}

.custom-select select {
  display: none;

  /* hide original SELECT element: */
  -webkit-appearance: none !important;
  appearance: none !important;
  margin: 0;
  -moz-appearance: textfield !important;
}

/* style the items (options), including the selected item: */
.select-selected {
  background-color: transparent;
  color: #b1b2b8;
  font: 1.5rem "Proxima Nova", sans-serif;
  line-height: 1.75rem;
  height: 4rem !important;
  cursor: pointer;
}

/* Style the arrow inside the select element: */
.select-selected::after {
  position: absolute;
  content: "";
  top: 1.5rem;
  right: 10px;
  width: 0;
  height: 0;
  border: solid #b1b2b8;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active::after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  top: 2rem;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  font: 1rem "Proxima Nova", sans-serif;
  line-height: 3rem !important;
  height: 4rem !important;
  width: 100% !important;
}

.select-items div:nth-child(1) {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.select-items:hover {
  position: absolute;
  background-color: dodgerblue;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.same-as-selected {
  color: #b1b2b8;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea:focus,
input:focus {
  color: #b1b2b8;
  font: 1.3rem "Proxima Nova", sans-serif;
}

textarea:not(:focus),
input:not(:focus) {
  color: #b1b2b8;
  font: 1.3rem "Proxima Nova", sans-serif;
}

div.title-nav {
  height: 4rem;
}

input.submit {
  color: white;
}
