<div class="d-flex align-items-center justify-content-between top-gradient">



    <div class="menu d-flex flex-column align-items-center justify-content-center">
        <a id="menu-a" class="d-flex flex-column align-items-center justify-content-center" href="">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <h2 class="page-title"><%=page_title%></h2>

</div>